[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/wjakob/pybind11
[submodule "lib/msgpack"]
	path = lib/msgpack
	url = https://github.com/msgpack/msgpack-c.git
[submodule "lib/v8pp"]
	path = lib/v8pp
	url = https://github.com/pmed/v8pp
